<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="CodeGlamour">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Network Intrusion Detection</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themify-icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sticky-particles.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/static/js/some.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
	<div id="preloader">
	  <div id="loader"></div>
	</div>
	<div class="main-wrapper">
		<header class="main-header">
			<div class="top_menu">
			    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
			        <div class="container">
			          <a class="navbar-brand" href=".">CardPay</a>
			          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
			            <div class="collapse navbar-collapse" id="navbarNav">
			              <ul class="navbar-nav ml-auto" id="nav">
			                  <li class="nav-item">
			                      <a class="nav-link js-scroll-trigger" href="#why_us">About Web APP</a>
			                  </li>
			                  <li class="nav-item">
			                      <a class="nav-link js-scroll-trigger" href="#features">Requirements</a>
			                  </li>
			                  <li class="nav-item">
			                      <a class="nav-link js-scroll-trigger" href="#testimonial">Web App</a>
			                  </li>
			                  <li class="nav-item">
			                      <a class="nav-link js-scroll-trigger" href="#team">Team</a>
			                  </li>
			              </ul>
			            </div>
			          </div>
			    </nav>
			</div>
		</header>
		<main class="main-container">
			<section class="main_banner_area text-center">
				<div id="particles-js"></div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="home-content text-white mt-150">
								<h1 class="display-4">Network Intrusion Detection</h1>
								<h3 class="mt-15">Easy & Secure</h3>
								<div class="mt-50">
									<a href="#get_started" class="btn submit mr-30 mb-10 text-center align-middle" type="submit">Get Started</a>
									<a href="#testimonial" class="btn submit2 mr-30 mb-10 text-center align-middle" type="submit">Skip to App</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="why_us_area" id="why_us">
				<div class="container">
					<div class="row">
						<div class="col-12">
		                    <div class="section-heading text-center">
		                        <h2>About App</h2>
		                        <div class="line-title"></div>
		                    </div>
						</div>
					</div>
					<div class="container">
		                <div class="row">
		                    <div class="col-lg-5">
		                        <div class="why-us-description-img">
		                            <img src="/static/images/bg-img/dep.png" alt="Image">
		                        </div>
		                    </div>
		                    <div class="col-lg-7 col-xl-6 ml-xl-auto">
		                        <div class="why-us-description-content">
		                            <h2 class="h3">We Bring together Network Security & Machine Learning</h2>
		                            <p>Machine learning has become a vital technology for cybersecurity. Machine learning preemptively stamps out cyber threats and bolsters security infrastructure through pattern detection, real-time cyber crime mapping and thorough penetration testing.We built a Web App using DECISION TREE Algorithm</p>
		                        </div>
		                    </div>
		                </div>
		            </div>
				</div>
			</section>	
			<section class="features_area" id="features">
				<div class="container">
		            <div class="row">
		                <div class="col-12">
		                    <div class="section-heading text-center">
		                        <h2>Requirements</h2>
		                        <div class="line-title"></div>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		            
		                        <h5>&nbsp; SOURCE BYTES</h5>
		                        <p>Number of data bytes sent from Source to Destination.</p>
		                    </div>
		                </div>
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
								
		                        <h5> &nbsp;DESTINATION BYTES</h5>
		                        <p>Number of data bytes recieved at Destination.</p>
		                    </div>
		                </div>
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
								
		                        <h5>&nbsp;DURATION</h5>
		                        <p>Indicates successful Login Duration.</p>
		                    </div>
		                </div>
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		                        
		                        <h5>&nbsp;COUNT</h5>
		                        <p>	Number of connections to the same host as the current connection in the past two seconds.</p>
		                    </div>
		                </div>
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		                        
		                        <h5>&nbsp;SERVICE COUNT</h5>
		                        <p>Number of connections to the same service as the current connection in the past two seconds </p>
		                    </div>
		                </div>
						
		                <div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		                        
		                        <h5>&nbsp;DESTINATION AND HOST SAME SERVER COUNT</h5>
		                        <p>Number of connections having same port number</p>
		                    </div>
						</div>
						<div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		                       
		                        <h5>&nbsp;HOT</h5>
		                        <p>Number of Hot indicators in the data.</p>
		                    </div>
		                </div>
						<div class="col-12 col-sm-6 col-lg-4">
		                    <div class="single-feature-item">
		                        
		                        <h5>&nbsp;DESTINATION AND HOST DIFFERENT SERVER COUNT</h5>
		                        <p>Percentage of connections that were to different service among the connections aggregated in dst host count.</p>
		                    </div>
		                </div>
		            </div>
		        </div>
			</section>
			<section class="get_stated_area" id="get_started">
				<div class="container">
		            <div class="row">
		                <div class="col-12">
		                    <div class="section-heading text-center">
		                        <h2>ATTACKS ADDRESSED</h2>
		                        <div class="line-title"></div>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col">
							<div class="tabs">
							  <div class="tab">
								<input class="input" type="checkbox" id="chck1">
								<label class="tab-label" for="chck1">DENIAL OF SERVICE</label>
								<div class="tab-content">
								  <h6>A denial-of-service (DoS) attack is a type of cyber attack in which a malicious actor aims to render a computer or other device unavailable to its intended users by interrupting the device's normal functioning. DoS attacks typically function by overwhelming or flooding a targeted machine with requests until normal traffic is unable to be processed, resulting in denial-of-service to addition users.</h6>
								</div>
							  </div>
							  <div class="tab">
								<input class="input" type="checkbox" id="chck2">
								<label class="tab-label" for="chck2">USER TO ROOT</label>
								<div class="tab-content">
									<h6>These attacks are exploitations in which the hacker starts off
										on the system with a normal user account and attempts to
										abuse vulnerabilities in the system in order to gain super user
										privileges</h6>
								</div>
							  </div>
							  <div class="tab">
								<input class="input" type="checkbox" id="chck3">
								<label class="tab-label" for="chck3">PROBING</label>
								<div class="tab-content">
									<h6>Probing is an attack in which the hacker scans a machine or a
										networking device in order to determine weaknesses or
										vulnerabilities that may later be exploited so as to
										compromise the system. This technique is commonly used in
										data mining.</h6>
								</div>
							  </div>
							  <div class="tab">
								<input class="input" type="checkbox" id="chck4">
								<label class="tab-label" for="chck4">REMOTE TO LOCAL</label>
								<div class="tab-content">
									<h6>A remote to local attack is
										an attack in which a user sends packets to a machine over the
										internet, which s/he does not have access to in order to expose
										the machines vulnerabilities and exploit privileges which a
										local user would have on the computer.</h6>
								</div>
							  </div>
							</div>
						  </div>
		            </div>
		        </div>
			</section>
		    <section class="clients_testimonial_area bg-white" id="testimonial">
		        <div class="container">
		        	<div class="row">
		                <div class="col-12">
		                    <div class="section-heading text-center">
		                        <h2>NETWORK INTRUSION DETECTION APP</h2>
		                        <div class="line-title"></div>
		                    </div>
		                </div>
		            </div>

				<form>
		            <div class="form row justify-content-center">
		                    <div class="col-12 col-md-4 input">    
								<input name="src_bytes" type="number" id="input-a" required/>  
								<label class="label-name" for="input-a"> <span class="content-name">SRC_BYTES</span>  </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="dst_bytes" type="number" id="input-b" required/>  
								<label class="label-name" for="input-b"> <span class="content-name">DST_BYTES</span>  </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="duration" type="number" id="input-c" required/>  
								<label class="label-name" for="input-c"><span class="content-name">DURATION</span>  </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="count" type="number" id="input-d" required/>  
								<label class="label-name" for="input-d"><span class="content-name">COUNT</span>  </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="srv_count" type="number" id="input-e" required/>  
								<label class="label-name" for="input-e"><span class="content-name">SRV_COUNT</span>  </label>
							 </div>
							 
							 <div class="col-12 col-md-4 input">    
								<input name="dst_host_count" type="number" id="input-f" required/>  
								<label class="label-name" for="input-f"><span class="content-name">DST_HOST_COUNT</span>  </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="hot" type="number" id="input-g" required/>  
								<label class="label-name" for="input-g"> <span class="content-name">HOT</span> </label>
							 </div>
							 <div class="col-12 col-md-4 input">    
								<input name="dst_host_srv_count" type="number" id="input-h" required/>  
								<label class="label-name" for="input-h"> <span class="content-name">DST_HOST_SRV_COUNT</span> </label>
							 </div>
							 <div class="col-12 col-md-12 input">    
								<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
							 </div> 
							 
								
				
		            </div></form>
					<br>
					<br>
					<div class="ajaxProgress" id="ajaxsl" style="display:none;text-align: center;align-content: center;">
						<img style="align-items: center;" src="/static/images/ajax-loader.gif">
					  </div>
					  <div id="successAlert" class="alert alert-success" role="alert" style="display:none;text-align: center;font-weight: bold;font-size: large;"></div>
						<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;text-align: center;font-weight: bold;font-size: large;"></div>
		        </div>
		  
		    </section>  
			<section class="our_team_area text-center" id="team">
				<div class="container">
					<div class="row">
						<div class="col-12">
		                    <div class="section-heading text-center">
		                        <h2>Our Team</h2>
		                        <div class="line-title"></div>
		                    </div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-3">
							<div class="our-team">
								<div class="pic">
									<img src="/static/images/team-img/team-1.png" alt="team-img">
								</div>
								<h3 class="title">V.SAI ABHIMANYA</h3>
								<span class="post">WEB DEVELOPER</span>
								<ul class="social">
									<li><a href="https://www.facebook.com/public/Vuchuru-Sai-Abhimanya" target="_blank" class="fab fa-facebook"></a></li>
									<li><a href="https://www.instagram.com/cosmic__entity/" target="_blank" class="fab fa-instagram"></a></li>
									<li><a href="https://github.com/AbhimanyaReddy" target="_blank" class="fab fa-github"></a></li>
									<li><a href="https://www.linkedin.com/in/sai-abhimanya-vuchuru/" target="_blank" class="fab fa-linkedin"></a></li>
								</ul>
							</div>
		    			</div>
						<div class="col-12 col-md-3">
		    				<div class="our-team">
								<div class="pic">
									<img src="/static/images/team-img/team-2.png" alt="team-img">
								</div>
								<h3 class="title">S.RAJESHWAR</h3>
								<span class="post">SOFTWARE TEAM MEMBER</span>
								<ul class="social">
									<li><a target="_blank" href="https://www.facebook.com/rohit.shivanathri" class="fab fa-facebook"></a></li>
									<li><a target="_blank" href="https://www.instagram.com/rohitshivanathri/" class="fab fa-instagram"></a></li>
									<li><a target="_blank" href="https://github.com/rajeshwar4282" class="fab fa-github"></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/in/rajeshwar-shivanathri-a09144184/" class="fab fa-linkedin"></a></li>
								</ul>
							</div>
		    			</div>
		    			<div class="col-12 col-md-3">
		    				<div class="our-team">
								<div class="pic">
									<img src="/static/images/team-img/team-3.png" alt="team-img">
								</div>
								<h3 class="title">T.THARUN</h3>
								<span class="post">ML ENGINEER</span>
								<ul class="social">
									<li><a target="_blank" href="https://www.facebook.com/profile.php?id=100009815711693" class="fab fa-facebook"></a></li>
									<li><a target="_blank" href="https://www.instagram.com/_t_h_a_r_u_n___/" class="fab fa-instagram"></a></li>
									<li><a target="_blank" href="https://github.com/tharun435" class="fab fa-github"></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/in/tharunkumartallapalli/" class="fab fa-linkedin"></a></li>
								</ul>
							</div>
		    			</div>
		    			<div class="col-12 col-md-3">
		    				<div class="our-team">
								<div class="pic">
									<img src="/static/images/team-img/team-4.png" alt="team-img">
								</div>
								<h3 class="title">T RAHUL</h3>
								<span class="post">SOFTWARE TEAM MEMBER</span>
								<ul class="social">
									<li><a target="_blank" class="fab fa-facebook"></a></li>
									<li><a target="_blank" class="fab fa-instagram"></a></li>
									<li><a target="_blank" class="fab fa-github"></a></li>
									<li><a target="_blank" class="fab fa-linkedin"></a></li>
								</ul>
							</div>
		    			</div>
					</div>
				</div>
			</section>  
			
			<footer class="newsletter_area text-center" id="newsletter">
				<h1 style="color: aliceblue;">THANK YOU</h1>
			</footer>
		</main>
	</div>
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/particles-custom.js"></script>
    <script src="/static/js/particles.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
	<script src="/static/js/slick.min.js"></script>
	<script src="/static/js/magnific-popup.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>